{% extends 'base.html' %}
{% block content %}

<h1>Wolf Details</h1>

<div class="row">
<div class="col s6">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ wolf.name }}</span>
            <p>Breed: {{ wolf.breed }}</p>
            <p>Description: {{ wolf.description }}</p>
            {% if wolf.age > 0 %}
                <p>Age: {{ wolf.age }}</p>
            {% else %}
                <p>Age: Wolfy</p>
            {% endif %}
        </div>
        <div class="card-action">
            <a href="{% url 'wolfs_update' wolf.id %}">Edit</a>
            <a href="{% url 'wolfs_delete' wolf.id %}">Delete</a>
        </div>
    </div>
</div>

<div class="col s6">
    <form action="{% url 'add_feeding' wolf.id %}" method="post">
        {% csrf_token %}
        {{ feeding_form.as_p }}
        <input type="submit" class="btn" value="Add Feeding">
      </form>
      <br>
    {% if wolf.fed_for_today %}
      <div class="card-panel teal-text center-align">{{ wolf.name }} has been fed all meals for today</div>
    {% else %}
      <div class="card-panel red-text center-align">{{ wolf.name }} might be hungry</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in wolf.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
		</table>
	</div>

	<hr>
	<div class="row">
	  <div class="col s6">
		<h3>{{ wolf.name }}'s Toys</h3>
		{% if wolf.toys.count %}
		  {% for toy in wolf.toys.all %}
			<div class="card">
			  <div class="card-content">
				<span class="card-title">
				<span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
				</span>
				<form action="{% url 'remove_toy' wolf.id toy.id %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn">X</button>
				</form>
			  </div>
			</div>
		  {% endfor %}
		{% else %}
		  <h5>No Toys :(</h5>
		{% endif %}
	  </div>
	  <!-- Available toys will come after this line -->
	  <div class="col s6">
		<h3>Available Toys</h3>
		{% if toys.count %}
		  {% for toy in toys.all %}
			<div class="card">
			  <div class="card-content">
				<span class="card-title">
				  A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
				</span>
			  </div>
			  <div class="card-action">
				<form action="{% url 'assoc_toy' wolf.id toy.id %}" method="post">
				  {% csrf_token %}
				  <button type="submit" class="btn">Add</button>
				</form>
			  </div>
			</div>
		  {% endfor %}
		{% else %}
		  <h5>{{ wolf.name }} Already Has All Toys Available</h5>
		{% endif %}
	  </div>
	</div>
    <!-- Insert photo markup below this comment -->
    {% for photo in wolf.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
		<!-- new code below -->
	<form action="{% url 'add_photo' wolf.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    	{% csrf_token %}
    	<input type="file" name="photo-file">
    	<br><br>
    	<input type="submit" class="btn" value="Upload Photo">
	</form>
	</div>
  <script>
		const dateEl = document.getElementById('id_date');
		M.Datepicker.init(dateEl, {
		  format: 'yyyy-mm-dd',
		  defaultDate: new Date(),
		  setDefaultDate: true,
		  autoClose: true
		});
	  
		const selectEl = document.getElementById('id_meal');
		M.FormSelect.init(selectEl);
	  </script>
</div>
{% endblock content %}